<IfModule mod_rewrite.c>
  RewriteEngine On
RewriteBase /~mals13/phpmvc/kmom08/mad/

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule (.*) index.php/$1 [NC,L]
</IfModule>